button:hover{
    cursor: pointer;
}

h1{
    color: blue;
}

.modo_uwu{
    height: 2000px;
    position: absolute;
    display: none;
    width: 100%;
    background: red;
    z-index: 700;
}

#btn_si{
    background-color: cadetblue;
    border-color: aqua;
    color: azure;
    font-size: xx-large;
    padding: 32px;
    text-align: center;
    border-radius: 2px;
}